body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.to-left {
	float: left;
}
.to-right {
	float: right;
}

/* TEXT */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .75rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}
h3 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
    margin-left: 1.25rem;
}

b {
    font-weight: bold;
}

.text-12 {
	font-size: 12px;
}
.fa-lg {
    font-size: 2em;
}

.mr-auto {
	margin: 0 auto;
}
.to-right {
	float: right;
}

.p-6rem-0 {
    padding: 6rem 0;
}
.p-1rem {
     padding: 1rem; 
}
.p-3rem {
     padding: 3rem; 
}
.p-1rem-3rem {
     padding: 1rem 3rem; 
}
.p-0-125 {
	padding: 0 12.5%;
}
.pb-5rem {
    padding-bottom: 5rem;
}

.fa-3x {
    font-size: 3em;
    padding: 30px;
}

/* BUTTONS*/

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

/* HEADER*/

.bg-light {
	/*background-image: url(http://vst.net.ua/uploads/5a6708680f8f5.png);*/
}
#hello h3 {
	margin-top: 4rem;
}
.logo {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 99999;
}

/* SECTION */

section {
	margin: 6rem;
}
.section-header {
    margin: 2rem 0;
}
.section-header p {
    font-weight: 500;
    font-size: 1.1rem;
}
.section-header h3 {
	margin-bottom: 0; 
}

#types .fa-square {
  padding-right: 10px;
  color: #ccc;
}

#cash .fa + span {
    padding: 30px 0;
}
#cash .col-md-6 + .col-md-6 .fa:not(:first-child) + span {
    padding-top: 15px;
}
#cash .col-md-6 + .col-md-6 .fa + span {
    padding-top: 15px;
}
#cash .col-md-6 + .col-md-6 .fa {
    padding: 0 30px;
}
#cash .col-md-6 + .col-md-6 h3 + div {
    padding-top: 30px;
}

#alert {
	padding: 50px;
}

#anketa .bg-light,
#form .bordered {
  padding: 15px 30px;
}

#form .bordered {
  border-radius: 15px;
  border: 1px solid #ccc;
}

#contact {
  margin: 0;
}
#contact .section-header {
  margin-left: 6rem;
}

footer {
  padding: 50px;
  padding-bottom: 15px;
}
footer .row {
  margin-bottom: 50px;
}

/* OWL CAROUSEL */

.hide-bullets {
	list-style:none;
	margin-left: -40px;
	margin-top:20px;
}

#sync1 .item {
  margin: 5px;
  /*padding: 80px;*/
  /*border-radius: 3px;*/
  /*background: #0c83e7;*/
  /*text-align: center;*/
}
#sync2 .item {
  /*background: url(https://www.okonti.ru/r/43727beb16cbb35d130dc84e9a93f3c2.jpg);*/
  /*background-size: cover;*/
  /*padding: 30px 0px;*/
  /*color: #FFF;*/
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
#sync2 .item:hover {
  opacity: 0.8;
}

#sync2 .item h1 {
  font-size: 18px;
}
#sync2 .current .item {
  /*background: #0c83e7;*/
}
.owl-theme .owl-nav {}
.owl-theme .owl-nav [class*='owl-'] {
  transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync1.owl-theme .owl-prev {
  left: -30px;
}
#sync1.owl-theme .owl-next {
  right: -30px;
}
.owl-theme .owl-nav [class*=owl-] {
  background: none;
}

.item-text {
  width: 30%;
  float: left;
}
#sync1.owl-carousel .owl-item img {
  width: 60% !important;
  float: right;
}
#sync2 .item img {
  width: 100%;
}
#sync2 .owl-stage {
    float: right;
}
